extend layout
block content
  script(rel='js',type='text/javascript',src='/js/search.js')
  t2 Origin: &nbsp;
  select
    each city, i in cities
      option(value=i) #{city} 
  &nbsp; &nbsp;
  t2 Destiny: &nbsp;
  select
    each city, i in cities
      option(value=i) #{city}
  &nbsp;
  button(onclick="search()") Search
block sidebar
